/*

Ocean Template

http://www.templatemo.com/preview/templatemo_420_ocean
        
*/


/* ==========================================================================
    HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
    color: #222;
}
body {
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.text-muted {
    color: #848b8f;
}
/* ==========================================================================
    Forms
   ========================================================================== */
form input[type="email"],
form input[type="password"] {
    background: #fff;
    color: #999999;
    border: 1px solid #dddddd;
    padding: 12px 15px;
    width: 100%;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
form input[type="email"]:focus,
form input[type="password"]:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    border-color: #f57e37;
}
label {
    font-weight: normal;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
       * Don't show links for images, or javascript/internal links
       */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
/* ==========================================================================
    Structure & Defaults
   ========================================================================== */
html,
body {
    font-size: 100%;
    width: 100%;
    height: 100%;
}
body {
    background: #ffffff;
    color: #777777;
    font-size: 13px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
a {
    color: #39c8e2;
    text-decoration: none !important;
    -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}
a:hover {
    color: #CCCC33;
}

#products a {
    color: #0066AA;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}
input.main-button,
.main-button {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #39c8e2;
    outline: 0;
    border: 0;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
}
/* ==========================================================================
    Header
   ========================================================================== */
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    overflow: hidden;
    padding-bottom: 10px;
}
.logoReef {
    width: 50%;
    margin-top: -20%;
}
.site-header .logo {
    margin-top: 42px;
}
.site-header.scrolled {
    background: white;
}
.menu-holder {
    position: relative;
}
.main-menu {
    margin-top: 45px;
}
.main-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-menu ul li {
    display: inline-block;
    margin: 0 20px;
}
.main-menu ul li a {
    text-transform: uppercase;
    font-size: 16px;
}
.main-menu ul li.active a {
    color: grey;
}

#responsive-menu {
    top: 0;
    width: 250px;
    height: 100%;
    background: #f3f3f3;
    position: fixed;
    z-index: 5500;
    right: -1500px;
    display: none;
    overflow: auto;
}
#responsive-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#responsive-menu ul li {
    display: block;
    margin-bottom: 2px;
}
#responsive-menu ul li a {
    padding: 12px 18px;
    background-color: #39c8e2;
    color: #fff;
    display: block;
    -webkit-border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    border-radius: 4px;
    background-clip: padding-box;
    text-transform: uppercase;
}
#responsive-menu ul li a i {
    margin-right: 15px;
}
a#mobile_menu {
    font-size: 24px;
    background-color: #39c8e2;
    color: #ffffff;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 30px;
    right: 30px;
}
.content-section {
    padding-top: 80px;
}

#services {
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;
    z-index: 10;
    margin-top: 20px;
}
.service-item .service-icon {
    cursor: pointer;
    width: 136px;
    height: 136px;
    line-height: 136px;
    text-align: center;
    border: 2px solid ;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    font-size: 32px;
    margin: 0 auto;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
.service-item .service-icon i {
    text-align: center;
    line-height: 136px;
}
.service-item h3.service-title {
    text-transform: uppercase;
    font-size: 16px;
    color: #39c8e2;
    font-weight: 600;
    margin-top: 25px;
}
.service-item .service-icon:hover  {
    color: #ffffff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
#products {
    background: url(../images/products-bg.png) no-repeat top center;
    background-size: cover;
    position: relative;
    z-index: 11;
    color: #ffffff;
    padding-top: 200px;
    padding-bottom: 120px;
    margin-top: -120px;
}

#products .product-content {
    padding-left: 0;
    padding-right: 0;
}
#products .product-content h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 5px 0;
}
#products .product-content span {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 20px;
}
#products .product-content p {
    text-align: justify;
}

#loginInfo {
    color: #ffffff;
    background: url(../images/contact-bg.png) no-repeat top center;
    background-size: cover;
    margin-top: -40px;
    padding-bottom: 100px;
    position: relative;
    z-index: 14;
}
#loginInfo .section-header {
    margin-bottom: 80px;
}
#loginInfo .section-header p {
    width: 70%;
    margin: 0 auto;
}
#loginInfo h2.section-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
#loginInfo p {
    margin-bottom: 30px;
}
#loginInfo a:hover {
    color: #ffffff;
}
#loginInfo ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#loginInfo ul li {
    margin-bottom: 0.5em;
}
#loginInfo ul li i {
    color: #39c8e2;
    margin-right: 10px;
}

#loginInfo input[type=password],
#loginInfo input[type=email]{
    color: #fff;
    border: 1px solid #000;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

#loginInfo input[type=password]:focus,
#loginInfo input[type=email]:focus {
    border-color: #39c8e2;
}



@media (max-width: 992px) and (min-width: 780px) {
    .container {
        width: 96%;
    }
}

/*  Medium devices (desktops, 992px and up)  */

@media (max-width: 992px) {

    .main-menu ul li {
        margin: 0 10px;
    }
    .menu-holder {
        overflow: hidden;
    }
    /*  ul.social-top {
        display: none;
      }*/
    .main-menu {
        text-align: right;
    }
    #services {
        /*  background-image: none;
            background-color: #ececec;	*/
        margin-top: 0;
        padding-top: 100px;
        padding-bottom: 60px;
    }
    #services .service-item {
        margin-bottom: 40px;
    }
    #products {
        margin-top: 0;
        /*	background-image: none;
            background-color: #39c8e2;	*/
        padding-bottom: 60px;
        padding-top: 100px;
    }
    #products .product-left {
        margin-bottom: 60px;
    }
    #loginInfo {
        margin-top: 0;
        /*	background-image: none;  
            background-color: #14282b;	*/
    }
    #loginInfo .section-header p {
        display: none;
    }
}
/*  Small devices (tablets, 768px and up)  */
@media (max-width: 768px) {
    .site-header .logo {
        margin-top: 20px;
    }  
}

/* ==========================================================================
   Switch buttons
   ========================================================================== */
.switch {
    margin-left: 40%;
}

.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
.cmn-title {
    display: block;
    position: relative;
    width: 120px;
    font-size: 16px;
    font-weight: 600;
}
input.cmn-toggle-round + label {
    padding: 2px;
    width: 120px;
    height: 60px;
    background-color: #dddddd;
    border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
    width: 58px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
    margin-left: 60px;
}

//LOGIN PAGE
.login{
    font-family: "Freight Sans Bold","lucida grande",tahoma,verdana,arial,sans-serif;
}
.LoginBody {
    background-color: #42a1c6;
}
.login-logo {
    margin-top: -35%;
    margin-left: -20%;
}
.fish {
    width: 150px;
    height: 100px;
    animation: swim 3s infinite; 
}

.fish-body {
    position: relative;
    margin-top: 30px;
    margin-left: 40px;
    background-color: orange;
    border-radius: 50%;
    width: 150px; 
    height: 100px;
}

.eye {
    position: absolute;
    margin-left: 100px;
    margin-top: 20px;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.pupil {
    position: absolute;
    z-index: 2;
    margin-left: 5px;
    margin-top: 5px;
    background-color: black;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.fin {
    margin-top: -100px; 
    background-color: orange;
    border-radius: 50%;
    transform: rotate(40deg);
    width: 80px;
    height: 50px;
}

.fin-bottom {
    margin-top: -10px;
    transform: rotate(-40deg);
}

/* Bubbles */
.bubbles {
    position: absolute;
    bottom: 0;
    z-index: 5;
    margin-right: 50px;
    background-color: white;
    border-radius: 50%;
    opacity: .50;
    width: 40px;
    height: 40px;
    animation: up 4s infinite;
}
.bubble-1{
    left:85%;
    animation: up 5s infinite;
}
.bubble-2 {
    left: 75%;
    animation: up 2s infinite;
}

.bubble-3 {
    left: 15%;
    opacity: .30;
    animation: up 5s infinite;
}

.bubble-4 {
    left: 25%;
    animation: up 6s infinite;
}

.bubble-5 {
    left: 35%;
    animation: up 5s infinite;
}

.bubble-6 {
    left: 45%;
    opacity: .30;
    animation: up 3s infinite;
}

.bubble-7 {
    left: 55%;
    animation: up 4s infinite;
}

.bubble-8 {
    left: 65%;
    opacity: .30;
    animation: up 3s infinite;
}

/* Swim Animation */
@keyframes swim {
    0% {
        transform: translateY(-50px) translateX(0) rotate(30deg);
    }
    25% { 
        transform: translateY(50px) translateX(250px) rotate(20deg);
    }
    50% {
        transform: translateY(100px) translateX(500px);
    }
    75% {
        transform: translateY(50px) translateX(850px) rotate(-20deg);
    }
    100% {
        transform: translateY(-170px) translateX(1200px) rotate(-40deg);
    }
}

/* Bubbles Animation */
@keyframes up {
    100% {
        transform: translateY(-800px);
    }
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
